# Ignore everything
*

# But not these files...
!.gitignore
!*.ini
# !1125671906/Config/XComSkirmRework.ini

# ...even if they are in subdirectories
!*/

# File Watch Exceptions
XComEditor.ini
XComEngine.ini
# Mod Watch Exceptions
## Odd Tweaks Season 7
2692821840
## Core Collection Meta Mod
2166295671
## RedDobe Gameplay Tweaks V6.0
2072749925